<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Morse Code</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<link rel="shortcut icon" type="image/png" href="/static/assets/images/ms-icon-310x310.png">


        <nav class="navbar nav">
			<div>
				<ul class="navbar bg">
					<li class="nav-item"><a href="{{ url_for('home') }}">Home</a></li>
					<li class="nav-item"><a href="{{ url_for('login') }}">Log in</a></li>
					<li class="nav-item"><a href="{{ url_for('register') }}">Register</a></li>
				</ul>
			</div>
		</nav>
	</head>
</html>